version: '3.9'

x-pandaria-shared-conf: &pandaria-shared-conf
  environment:
      - TZ=Europe/Stockholm
  volumes:
    - "./etc:/opt/etc:rw"
    - "/etc/localtime:/etc/localtime:ro"
    - "/etc/timezone:/etc/timezone:ro"
    - "./server:/opt/server:rw"
    - "${WOW_PATH}:/opt/wow:rw"
  restart: unless-stopped
  tty: true

x-build-shared-conf: &build-shared-conf
  dockerfile: Dockerfile
  args:
    USER_ID: ${USER_ID:-0}
    GROUP_ID: ${GROUP_ID:-0}

services:
  authserver:
    image: pandaria:authserver
    container_name: pandaria-authserver
    build:
      context: containers/authserver
      <<: *build-shared-conf
    <<: *pandaria-shared-conf
    ports:
      - "3724:3724"

  compile:
    image: pandaria:compile
    env_file:
      - ./env/compile.env
      - ./env/mariadb.env
    container_name: pandaria-compile
    build:
      context: containers/compile
      <<: *build-shared-conf
    <<: *pandaria-shared-conf
    restart: "no"
    profiles:
      - compile

  mariadb:
    image: pandaria:mmariadb
    env_file:
      - ./env/mariadb.env
    container_name: pandaria-mariadb
    hostname: pandaradb
    build:
      context: containers/mariadb
      <<: *build-shared-conf
    <<: *pandaria-shared-conf
    command: --max_allowed_packet=32505856
    # ports:
    #  - "3306:3306"
   
  phpmyadmin:
    image: phpmyadmin
    ports:
      - "8080:80"
    environment:
      - PMA_HOST=pandaradb
      - PMA_USER=root
      - PMA_PASSWORD=pwd
    restart: "no"
    depends_on:
      - mariadb
    profiles:
      - dev
  
  worldserver:
    image: pandaria:worldserver
    container_name: pandaria-worldserver
    build:
      context: containers/worldserver
      <<: *build-shared-conf
    <<: *pandaria-shared-conf
    ports:
      - "3443:3443"
      - "8085:8085"
    # - "8086:8086"

networks:
  default:
    name: pandaria-network
